{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/meow.css' %}">

<html><head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="chrome-extension://mooikfkahbdckldjjndioackbalphokd/assets/prompt.js"></script></head>
<body>
<div class="bgimg-1">
<div class="caption">
<span class="border">ABOUT ME</span>
</div>
</div>
<div style="color: #777;background-color:white;text-align:center;padding:50px 80px;text-align: justify;">
	<h3 style="text-align:center;">Ковальчук Анна</br></br>
	<img src="../../../static/img/13-1.PNG" alt="Avatar" class="avatar"> </br></br>
	HOBBY </h3>
	<p style="text-align:center;">
	Вышиваю крестиком </br> Cмотрю сериалы </br> Cпорю с окружающими
	</p>
</div>
<div class="bgimg-2">
<div class="caption">
<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">UNIVERSITY</span>
</div>
</div>
<div style="position:relative;">
<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
<p style="text-align:center;">Это Владимирский государственный университет (ВлгУ). На фоне - вечная ученица (серьезно) </br>
<a href="/univer/" style="color: #ddd"> Подробнее..<a></p>
</div>
</div>
<div class="bgimg-3">
<div class="caption">
<span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">JOB</span>
</div>
</div>
<div style="position:relative;">
<div style="color:#ddd;background-color:#282E34;text-align:center;padding:50px 80px;text-align: justify;">
<p style="text-align:center;">Ну а это Даниловская мануфактура (ДМ) </br>
<a href="/job/"  style="color: #ddd"> Подробнее..<a></p>
</div>
</div>
<div class="bgimg-1">
<div class="caption">
<span class="border">THE END</span>
</div>
</div>

</body></html>