{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/job.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">

<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>
  <div class="parallax">
    <span style="font-size:30px;cursor:pointer;text-align: left" onclick="openNav()">☰</span>
  </div>

  <script>
  function openCity(evt, cityName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
          tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(cityName).style.display = "block";
      evt.currentTarget.className += " active";
  }
  </script>
<!--Боковое меню-->
    <div>
        <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
          <a href="/">Главная</a>
          <a href="/univer/">Обучение</a>
          <a href="/job/">Работа</a>
        </div>

        <script>
            function openNav() {
                document.getElementById("mySidenav").style.width = "250px";
            }

            function closeNav() {
                document.getElementById("mySidenav").style.width = "0";
            }
        </script>
    </div>
<div class="timeline">
  <div class="container left">
    <div class="content">
      <h2>CASHFLOW</h2>
      <p> АС Cashflow – это инновационная автоматизированная система анализа финансовых моделей
        клиентов-компаний Сбербанка <br>
        Участие в разработке веб приложения
      </p>
      <img src="../../../static/img/sber.png" class="lala">
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>СОДФУ</h2>
      <p> Финансовый уполномоченный осуществляет досудебное урегулирование споров между потребителями
        финансовых услуг и финансовыми организациями. <br>
        Формирование аналитическрй документации.
      </p>
      <img src="../../../static/img/СОДФУ.jfif" class="lala">
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>АТОН</h2>
      <p>«АТОН» – это инвестиционная компания имеющая специализацию на финансовом рынке. <br>
      Участие в тестировании мобильного приложения</p>
      <img src="../../../static/img/атон.png" class="lala2">
    </div>
  </div>
  <div class="container right">
    <div class="content">
      <h2>BCS GM</h2>
      <p>BCS Global Markets — Инвестиционно-банковское подразделение ФГ БКС, предоставляющие брокерские,
        консалтинговые услуги, а также услуги прайм-брокериджа институциональным инвесторам и частным лицам с
        высоким уровнем дохода. <br>
        Участие в тестировани веб приложения</p>
      <img src="../../../static/img/БКС.jpg" class="lala2">
    </div>
  </div>
  <div class="container left">
    <div class="content">
      <h2>HOME CREDIT</h2>
      <p>ХКФ банк - российский коммерческий банк, один из лидеров российского рынка потребительского кредитования. <br>
        Участие в разработке и тестировании интернет банка и серверной части мобильного приложения</p>
      <img src="../../../static/img/хомяк.jpg" class="lala">
    </div>
  </div>
</div>

</body>
</html>